body,html{
    height: 1300px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    position: relative;
    background-image: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-image:black;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: black;
}

table{
    border-spacing: 25px;
}

td{
    color: black;
}

.hi{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    top: 250px;
    left: 10%;
    font-family:Angkor;
    font-size: 45px;
    color: black;
    opacity: 0;
    transform: translateY(7%);
    animation: popup 0.5s linear forwards;
}

span{
    color: blue;
    font-size: 65px;
}

.menu-bar{
    position: sticky;
    top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.menu-bar > li > a{
    margin-left: 100px;
    color: grey;
    padding: 10px 30px 10px 30px;
    list-style-type: none;
    text-decoration:none;
}

.menu-bar > li > a:hover{
    background-color: black;
    color: white;
    border-radius: 5%;
}

.container_ava{
    position: relative;
    width: fit-content;
    top: 60px;
    left: 75%;
    opacity: 0;
    animation: popup 0.5s linear forwards;
}

.ava{
    border-radius: 37% 63% 66% 34% / 30% 30% 70% 70% ;
    height: 400px;
    box-shadow: 13px 15px 0 10px #5c1cdc;
    
}


.individual_infor{
    position: absolute;
    top: 500px;
    left: 10%;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: left;
    flex-flow: row wrap;
    margin: 0;
    font-family:Angkor;
    font-size: 15px;
    color: black;
    opacity: 0;
    transform: translateY(7%);
    animation: popup 0.5s linear forwards;
}

.individual_infor_detail{
    flex-flow:column nowrap;
    font-size: 20px;
    margin-left: 10px;
}

.contact_infor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 450px;
    transform: translateY(7%);
    opacity: 0;
    transition: all 1s ease;
}

.contact_infor.active{
    position: relative;
    transform: translateY(0);
    opacity: 1;
}

.welcome_to_contact{
    font-family:Angkor;
    font-size: 27px;
    color: black;
    text-shadow: 2px 5px 2px grey;
    position: relative;
}


.personal_infor{
    margin: 0;
    color: black;
    font-style: italic;
    font-size: 15px;
}

.social_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 25px;
    position: relative;
}

.career_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 25px;
    position: relative;
}

.phone_mail{
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 20px;
}

.final{
    position: relative;
    text-align: center;
    top: 700px;
    left: 700px;
    width: fit-content;
}


/* ---------------------RESPONSIVE----------------------- */
/* tablet only */
@media only screen and (min-width: 46.25em) and (mad-width:63.9375em){
    
}

/* pc only */
@media only screen and (min-width: 922px){

    .mail::before{
        content: "Email:   ";
        font-size: 15px;
    }
    
    .name::before{
        content: "Name:  ";
        font-size: 15px;
    }
    
    .birth::before{
        content: "Birthday: ";
        font-size: 15px;
    }

    .M::before{
        content: "My ";
    }

    .C::after{
        content: "urriculum Vitae";
    }

    .page-break::after{
        content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    }
}

/* mobile only*/
@media only screen and (max-width: 46.1875em){

    body,html{
        height: 2100px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hi{
        position: absolute;
        max-width: 150px;
        top: 400px;
        left: 10%;
        font-family:Angkor;
        font-size: 35px;
        color: black;
        opacity: 0;
    }

    span{
        color: blue;
        font-size: 45px;
    }

    .menu-bar{
        position: fixed;
        top: 20px;
        left: 10px;
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        z-index: 999;
        
    }
    
    .menu-bar > li{
        width: 90px;
        margin: 0;
        
    }

    .menu-bar > li > a{
        margin-left: 0px;
        color: grey;
        /* padding: 10px 30px 10px 30px; */
        
        list-style-type: none;
        text-decoration:none;
        font-size: 15px;
    }

    .container_ava{
        top: 100px;
        left: 50px;
        position: absolute;
    }

    .ava{
        height: 250px;
    }

    .C::after{
        content: "V";
    }

    .individual_infor{
        position: absolute;
        top: 1400px;
        left: 0%;
        display: flex;
        text-align: center;
        flex-flow: column wrap;
        margin: 0;
        font-family:Angkor;
        font-size: 15px;
        color: black;
        opacity: 0;
        animation: popup 0.5s linear forwards;
    }

    .contact_infor{
        position: absolute;
        top: 80%;
    }

    .final{
        position: absolute;
        top: 98%;
        left: 0%;
        width: 100%;
    }

    .final > div{
        font-size: 14px;
    }
}

@keyframes popup {
    100%{
        opacity: 1;
        transform: translateY(0%);
    } 
}
