body,html{
    height: 1300px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    position: relative;
    background-image: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-image:black;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: black;
}

table{
    border-spacing: 25px;
}

td{
    color: black;
}

.hi{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    top: 250px;
    left: 10%;
    font-family:Angkor;
    font-size: 45px;
    color: black;
    opacity: 0;
    transform: translateY(7%);
    animation: popup 0.5s linear forwards;
}

span{
    color: blue;
    font-size: 65px;
}

.menu-bar{
    position: sticky;
    top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.menu-bar > li > a{
    margin-left: 100px;
    color: grey;
    padding: 10px 30px 10px 30px;
    list-style-type: none;
    text-decoration:none;
}

.menu-bar > li > a:hover{
    background-color: black;
    color: white;
    border-radius: 5%;
}

.container_ava{
    position: absolute;
    top: 17%;
    right: 7%;
    opacity: 0;
    transform: translateY(7%);
    animation: popup 0.5s linear forwards;
}

.ava{
    border-radius: 37% 63% 66% 34% / 30% 30% 70% 70% ;
    height: 400px;
    box-shadow: 13px 15px 0 10px #5c1cdc;
    
}


.individual_infor{
    position: relative;
    top: 250px;
    left: 10%;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: left;
    flex-flow: row wrap;
    margin: 0;
    font-family:Angkor;
    font-size: 15px;
    color: black;
    opacity: 0;
    transform: translateY(7%);
    animation: popup 0.5s linear forwards;
}

.individual_infor_tittle{
    flex-flow:column nowrap;
}

.individual_infor_detail{
    flex-flow:column nowrap;
    margin-left: 10px;
}

.contact_infor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 450px;
    transform: translateY(7%);
    opacity: 0;
    transition: all 1s ease;
}

.contact_infor.active{
    position: relative;
    transform: translateY(0);
    opacity: 1;
}

.welcome_to_contact{
    font-family:Angkor;
    font-size: 27px;
    color: black;
    text-shadow: 2px 5px 2px grey;
    position: relative;
}

.social_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 25px;
    position: relative;
}

.career_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 25px;
    position: relative;
}

.personal_infor{
    position: relative;
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 15px;
    top: 38%;
}

.phone_mail{
    position: relative;
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 15px;
    top: 39%;
    padding-bottom: 20px;
}


/* ---------------------RESPONSIVE----------------------- */
/* tablet only */
@media only screen and (min-width: 46.25em) and (mad-width:63.9375em){
    
}

/* pc only */
@media only screen and (min-width: 922px){
    .button1{
        left: 50%;
        top: 510px;
        font-size: 40px;
        color: lightblue;
        width: fit-content;
        animation: bounce 1s infinite;
        position: relative;
    }
    
    @keyframes  bounce{
        100%{
            top: 500px;
        }
    }

    .button2{
        left: 50%;
        top: 450px;
        font-size: 40px;
        width: fit-content;
        color: lightblue;
        animation: bounce2 1.0s infinite;
        position: relative;
    }
    
    @keyframes bounce2{
        100%{
            top: 440px;
        }
    }

}

/* mobile only*/
@media only screen and (max-width: 46.1875em){

    .container_ava{
        top: -90px;
        left: 50px;
        position: relative;
    }

    .ava{
        height: 250px;
    }

    .hi{
        top: 350px;
        margin: 0;
    }

    .job{
        font-size: 33px; 
        left: -23px;
        top: 10%;
        position: absolute;
    }

    .Im{
        font-size: 30px;
        left: -20px;
        position: relative;
    }

    .Im::after{
        font-size: 40px;
    }

    .button1{
        visibility: hidden;
        display: none;
    }

    .button2{
        visibility: hidden;
        display: none;
    }


    .individual_infor{
        position: relative;
        top: 12%;
        left: 5%;
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: left;
        flex-flow: column wrap;
        margin: 0;
        font-family:Angkor;
        font-size: 15px;
        color: black;
        opacity: 0;
        transform: translateY(7%);
        animation: popup 0.5s linear forwards;
    }

    .individual_infor_tittle{
        flex-flow: column nowrap;
    }
    
    .individual_infor_detail{
        flex-flow: column nowrap;
        margin-left: 0;
    }

    .summary{
        top: 10%;
        display: flex;
        align-items: center;
        margin: 0px;
        flex-direction: column;
        position: relative;
    }
    
    .summary_tittle{
        margin: 15px;
        margin-right: 7px;
        font-size: 24px;
    }

}

@keyframes popup {
    100%{
        opacity: 1;
        transform: translateY(0%);
    } 
}